.brochure {
    max-width: 1920px;
    width: 100%;
    max-height: 700px;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px 0px;
}

.brochure .circle {
    background-color: #b4347f;
    width: 660px;
    height: 655px;
    border-radius: 100%;
    margin: 0 auto;
}

.brochure .swiper {
    height: 655px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.brochure .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media screen and (max-width: 690px) {
    .brochure .circle {
        width: 400px;
        height: 524px;
    }
    .brochure .swiper {
        height: 500px;
        width: 300px;
    
    }
}

@media screen and (max-width: 440px) {
    .brochure {
        height: 40vh;
    }

    .brochure .circle {
        width: 320px;
        height: 380px;
    }
    .brochure .swiper {
        height: 400px;
        width: 260px;
    
    }
}

@media screen and (max-width: 350px) {
    .brochure {
        height: 40vh;
    }

    .brochure .circle {
        width: 260px;
        height: 320px;
    }
    .brochure .swiper {
        height: 320px;
        width: 200px;
    
    }
}

@media screen and (max-width: 236px) {
    .brochure {
        height: 40vh;
    }

    .brochure .circle {
        width: 160px;
        height: 220px;
    }
    .brochure .swiper {
        height: 220px;
        width: 130px;
    
    }
}