#for_me_section {
    max-width: 1920px;
    width: 100%;
    max-height: 800px;
    height: 60vh;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    margin: 100px 50px;
    position: relative;
}

#for_me_section .wrapper {
    position: relative;
    height: 100%;
}

#for_me_section .circle {
    /* margin-top: 100px; */
    margin-left: 30px;
    width: 84%;
    height: 100%;
    background-color: rgb(var(--main-color));
    border-radius: 100%;
    border: 2px solid rgb(var(--main-color2));
}

#for_me_section .swiper {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
    left: 30%;
}

#for_me_section .swiper-wrapper .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


#for_me_section .for_me_section_text {
    font-size: 2.3rem;
    align-self: center;
    justify-self: start;
    width: 50%;
    padding-left: 40px;
    padding-bottom: 30px;
    border-bottom: 4px solid rgb(var(--black-color));
    border-left: 4px solid rgb(var(--black-color));
}

#for_me_section .decoration {
    height: 40%;
    width: 20%;
    position: absolute;
    top: 42%;
    left: 20%;
}

#for_me_section .decoration2 {
    position: absolute;
    top: 0;
    right: 20%;
    width: 142px;
    transform: rotate(-100deg);
}

@media screen and (max-width: 1620px) {
    #for_me_section .for_me_section_text {
        width: 80%;
        margin: 30px;
    }
}

@media screen and (max-width: 1280px) {
    #for_me_section .for_me_section_text {
        font-size: 1.6rem;
    }
    #for_me_section {
        max-height: 500px;
    }

    #for_me_section .decoration2 {
        position: absolute;
        top: 0;
        right: 10%;
        width: 148px;
    }
}

/* Mobile view */
@media screen and (max-width:860px) {
    #for_me_section .circle {
        display: none;
    }

    #for_me_section {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        margin: 0px 50px;
    }

    #for_me_section .wrapper {
        margin-top: 50px;
    }
    #for_me_section .swiper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #for_me_section .for_me_section_text {
        margin: 0px;
        justify-self: center;
        align-self: center;
        font-size: 1.4rem;
    }

    #for_me_section .decoration {
        display: none;
    }

    #for_me_section .decoration2 {
        display: none;
    }
}

@media screen and (max-width:580px) {
    #for_me_section .for_me_section_text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:360px) {
    #for_me_section .for_me_section_text {
        margin: 30px 0px;
        font-size: 1;
        padding: 10px;
    }
}




