.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(var(--main-color2));
    position: relative;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .wrapper {
    width: 1920px;
    background-color: rgb(var(--main-color2));
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.ul_wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header .wrapper .ul_wrapper #nav_item {
    margin-left: 20px;
}

.header .wrapper .ul_wrapper #nav_item.language-switcher {
    display: none;
}

.nav_link {
    text-decoration: none;
    color: rgb(var(--black-color));
}

.nav_link:hover {
    border-top: 2px solid rgb(var(--black-color));
    padding-top: 10px;
    color: rgb(var(--black-color));
}

.logo_wrapper {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 100px;
    cursor: pointer;
}

.logo_wrapper img {
    width: 160px;
    height: auto;
}

.navbar__toggle {
    cursor: pointer;
    display: none;
}

.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(var(--black-color));
}

.navbar__toggle .bar {
    display: block;
}

/* Burger Animation and Config */

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header .wrapper.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100dvh;
    overflow-y: auto;
}

body.no-scroll {
    overflow: hidden;
}

.header .wrapper .ul_wrapper.active {
    width: 100%;
    flex-direction: column;
    display: block;
    text-align: center;
    padding: 0;
}

.header .wrapper .ul_wrapper.active #nav_item {
    padding: 20px;
    margin: 0;
}

.header .wrapper .ul_wrapper.active #nav_item a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .wrapper .ul_wrapper.active #nav_item.language-switcher {
    display: block;
}

.header .wrapper .ul_wrapper.active .nav_link {
    font-size: 18px;
    padding: 0;
    border: none;
}

.header .wrapper .ul_wrapper.active #nav_item:hover {
    background-color: rgb(var(--main-color), 0.75);
}

/* Language switcher styles */

.header .wrapper .ul_wrapper #nav_item.language-switcher .language-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 auto;
    gap: 5px;
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: 2px solid rgb(var(--black-color));
    border-radius: 20px;
    text-decoration: none;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button.active {
    background-color: rgb(var(--black-color));
    color: rgb(var(--main-color));
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button:hover {
    background-color: rgb(var(--black-color));
    color: rgb(var(--main-color));
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button
    .image {
    width: 16px;
    height: auto;
    margin-right: 8px;
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button
    .text {
    font-size: 12px;
    font-weight: bold;
    color: rgb(var(--black-color));
    margin: 0;
    transition: color 0.3s ease;
}

.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button.active
    .text,
.header
    .wrapper
    .ul_wrapper
    #nav_item.language-switcher
    .language-options
    .lang-button:hover
    .text {
    color: #fff;
}

@media screen and (max-width: 1115px) {
    .logo_wrapper {
        margin-left: 0px;
    }

    .header .wrapper {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1015px) {
    .logo_wrapper .sub_text_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin-left: 0px;
        width: 280px;
    }

    .logo_wrapper .sub_text {
        z-index: 2;
        width: 55%;
        color: rgb(var(--main-color2));
        position: relative;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .logo_wrapper .line {
        border: 1px solid rgb(var(--main-color2));
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 10px;
        right: 0;
    }

    .logo_wrapper .hide_line {
        z-index: 1;
        width: 124px;
        height: 40px;
        position: absolute;
        background-color: var(--main-color);
        top: 0;
        right: 78px;
    }

    .logo_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_img {
        font-size: 20px;
    }
}

@media screen and (max-width: 960px) {
    .ul_wrapper {
        display: none;
    }

    .navbar__toggle {
        display: block;
    }

    .mobile_nav {
        display: flex;

        width: 100%;
        justify-content: space-between;

        align-items: center;
    }

    .header .wrapper {
        padding: 0 50px;
    }
}

@media screen and (max-width: 630px) {
    .logo_wrapper {
        margin-left: 0px;
    }

    .navbar__toggle {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    .logo_wrapper img {
        width: 140px;
        height: auto;
    }

    .header .wrapper {
        padding-left: 30px;
    }
}

@media screen and (max-width: 350px) {
    .logo_wrapper img {
        width: 100px;
        height: auto;
    }

    .header .wrapper {
        padding: 0 14px;
    }
}
