/* Colors */
/* purple - #b4347f */
/* logo - #303e48 */

body {
    background-color: #d0d1d1;
}


.header  {
    background-color: #b4347f;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.ul_wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_link {
    text-decoration: none;
    color: #fff;
    margin-left: 16px;
}

.nav_link:hover {
    border-top: 2px solid black;
    padding-top: 30px;
    color: #000;
}

.logo_wrapper {
    margin-left: 100px;
}

.logo_img {
    color: #fff;
    font-family: 'Playfair Display', serif;
}

/* Sub Text with line cover */

.logo_wrapper .sub_text_wrapper {
    position: relative;
}

.logo_wrapper .line {
    border: 1px solid #fff;
    position: absolute;
    width: 350px;
    z-index: 0;
    top: 7px;
    right: -70px;
}



.logo_wrapper .hide_line {
    z-index: 1;
    width: 225px;
    height: 15px;
    position: absolute;
    background-color: #b4347f;
    top: 0px;
    right: -5px;
}

.logo_wrapper .sub_text {
    z-index: 2;
    color: #fff;
    position: relative;
    margin-left: 150px;
    font-size: 14px;
    margin-bottom: 10px;
}


