.opinions {
    max-width: 1920px;
    width: 100%;
    max-height: 400px;
    height: 60vh;
    margin-top: 79px;
    overflow: hidden;
    position: relative;
}

.opinions .swiper {
    height: 100%;
    width: 1920px;
    display: flex;
}

.opinions .square {
    position: relative;
    background-color: #b4347f;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    height:300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.opinions .square .image_wrapper {
    width: 160px;
    height: 180px;
    align-self: start;
    justify-self: center;
}

.opinions .square .image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.opinions .square .text_wrapper {
    height: 100%;
    overflow: auto;
    align-self: center; 
    justify-self: center;
    color: #f5f5f7;
    font-size: 18px;
}

.opinions .square .name_wrapper {
    justify-self: center;
    align-self: self-end;
    color: #f5f5f7;
    font-size: 22px;
    text-align: center;
}

.opinions .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #b4347f;
    transform: rotate(5deg);

    position: absolute;
    z-index: -1;
    bottom: -55px;
    left: 50px;
}

#comments_next {
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 2;
    transform: translate(0%, -50%);
    cursor: pointer;
}


@media screen and (max-width: 670px) {
    .opinions .swiper-slide {
        margin-right: 0px;
    }

    .opinions {
        height: 42vh;
    }

    .opinions .square {
        padding: 20px;
        width: 400px;
        height:200px;
    }

    .opinions .square .image_wrapper {
        width: 100px;
        height: 110px;
    }

    .opinions .square .text_wrapper {
        font-size: 16px;
    }

    .opinions .square .name_wrapper {
        font-size: 18px;
    }

    .opinions .arrow-right {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #b4347f;

        bottom: -48px;
    }
}

@media screen and (max-width: 496px) {
    .opinions .swiper-slide {
        flex-shrink: 0.1;
    }

    .opinions .square {
        padding: 20px;
        width: 300px;
        height:180px;
    }

    .opinions .square .image_wrapper {
        width: 80px;
        height: 88px;
    }

    .opinions .square .text_wrapper {
        font-size: 14px;
    }

    .opinions .square .name_wrapper {
        font-size: 16px;
    }

    .opinions .arrow-right {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #b4347f;

        bottom: -48px;
    }
}

@media screen and (max-width: 336px) {

    .opinions .swiper-slide {
        flex: none;
    }

    .opinions .square {
        padding: 20px 0px;
        width: 200px;
        height:180px;
    }

    .opinions .square .image_wrapper {
        width: 60px;
        height: 66px;
    }

    .opinions .square .text_wrapper {
        font-size: 10px;
    }

    .opinions .square .name_wrapper {
        font-size: 12px;
    }

    .opinions .arrow-right {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #b4347f;

        bottom: -48px;
    }
}


