.opinions {
    max-width: 1920px;
    width: 100%;
    height: 400px;
    margin-top: 79px;
    position: relative;
}

.opinions .swiper {
    height: 100%;
    width: 100%;
}

.opinions .square {
    background-color: rgb(var(--main-color));
    border-radius: 30px;
    padding: 20px 10px;
    width: 500px;
    height: 320px;
    display: grid;
    grid-template-columns: 30% 62%;
    gap: 6%;
    margin: 0 auto;

    align-items: center;
}

.opinions .square .image_wrapper {
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.opinions .square .image_wrapper .wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.opinions .square .image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: rgba(var(--black-color), 0.35) 0px 5px 15px;
}

.opinions .square .text_wrapper {
    height: 100%;
    overflow: auto;
    align-self: center;
    justify-self: center;
    color: rgb(var(--text-color-for-background));
    font-size: 18px;
}

.opinions .square .name_wrapper {
    justify-self: center;
    align-self: self-center;
    color: rgb(var(--text-color-for-background));
    font-size: 22px;
    text-align: center;
}

.opinions .square::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid rgb(var(--main-color));
    transform: rotate(5deg);

    position: absolute;
    bottom: 0;
    left: 38%;
    z-index: -1;
    transform: translateX(-50%);
}

#comments_next {
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 2;
    transform: translate(0%, -50%);
    cursor: pointer;
}

@media screen and (max-width: 1670px) {
    .opinions {
        height: 260px;
    }

    .opinions .square {
        padding: 20px;
        width: 400px;
        height: 200px;
    }

    .opinions .square .image_wrapper .wrapper {
        width: 90px;
        height: 90px;
    }

    .opinions .square .text_wrapper {
        font-size: 16px;
    }

    .opinions .square .name_wrapper {
        font-size: 18px;
    }

    .opinions .square::after {
        border-top: 70px solid transparent;
        border-bottom: 70px solid transparent;
        border-left: 70px solid rgb(var(--main-color));
    }
}

@media screen and (max-width: 500px) {
    .opinions {
        height: 240px;
    }

    .opinions .square {
        padding: 10px;
        width: 340px;
        height: 190px;
    }

    .opinions .square .image_wrapper .wrapper {
        width: 70px;
        height: 70px;
    }

    .opinions .square .text_wrapper {
        font-size: 14px;
    }

    .opinions .square .name_wrapper {
        font-size: 16px;
    }

    .opinions .square::after {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid rgb(var(--main-color));
    }
}

@media screen and (max-width: 412px) {
    .opinions {
        height: 200px;
    }

    .opinions .square {
        padding: 10px;
        width: 260px;
        height: 160px;
    }

    .opinions .square .image_wrapper .wrapper {
        width: 60px;
        height: 60px;
    }

    .opinions .square .text_wrapper {
        font-size: 12px;
    }

    .opinions .square .name_wrapper {
        font-size: 14px;
    }

    .opinions .square::after {
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid rgb(var(--main-color));
    }
}

@media screen and (max-width: 346px) {
    .opinions {
        height: 168px;
    }

    .opinions .square {
        padding: 10px;
        width: 210px;
        height: 140px;
    }

    .opinions .square .image_wrapper {
        gap: 5px;
    }

    .opinions .square .image_wrapper .wrapper {
        width: 50px;
        height: 50px;
    }

    .opinions .square .text_wrapper {
        font-size: 10px;
    }

    .opinions .square .name_wrapper {
        font-size: 12px;
    }

    .opinions .square::after {
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid rgb(var(--main-color));
    }
}

@media screen and (max-width: 284px) {
    .opinions {
        height: 130px;
    }

    .opinions .square {
        padding: 10px;
        width: 160px;
        height: 100px;
    }

    .opinions .square .image_wrapper {
        gap: 5px;
    }

    .opinions .square .image_wrapper .wrapper {
        width: 40px;
        height: 40px;
    }

    .opinions .square .text_wrapper {
        font-size: 8px;
    }

    .opinions .square .name_wrapper {
        font-size: 10px;
    }

    .opinions .square::after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid rgb(var(--main-color));
    }
}
