@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
@import url(header.css);
@import url(hero_section.css);
@import url(for_me_section.css);
@import url(procedures_section.css);
@import url(opinions.css);
@import url(trainings.css);
@import url(footer.css);
@import url(brochure.css);
@import url(prices.css);
@import url(discount.css);
@import url(blog.css);

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #d0d1d1;
    width: 100%;
}
#slider_btn {
    font-size: 30px;
    color: rgba(29, 29, 31, 0.75);
}

.bold_price {
    font-weight: 800;
}

img[loading='lazy'] {
    position: relative !important;
    top: 40% !important;

    width: 48px !important;
    height: 48px !important;
    border: 5px solid #f5f5f7 !important;
    border-bottom-color: #b4347f !important;
    border-radius: 50% !important;
    box-sizing: border-box !important;
    animation: spin 1s linear infinite !important;
}
