.trainings {
    max-width: 1920px;
    width: 100%;
    padding-top: 79px;
}

.trainings .global_wrapper {
    position: relative;
}

.trainings .background {
    width: 100%;
    height: 470px;
    background-color: rgb(var(--main-color));
}

.trainings .swiper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}


.trainings .procedures_swiper .grid_wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100%;
}

.trainings .swiper .background_square {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: rgba(var(--main-color), 0.75);
    justify-self: center;
}

.trainings .swiper .background_square .image_cover {
    position: absolute;
    height: 90%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.trainings .swiper .background_square .image_cover .img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 1px 1px 20px 0px rgb(var(--black-color));
}

.trainings .swiper .text_wrapper {
    justify-self: center;
    align-self: center; 
    position: relative;
    width: 85%;
    height: 80%;
    background-color: rgb(var(--main-color2));
    padding: 20px;
    color: rgb(var(--black-color));
    font-size: 18px;
    overflow: auto;
}

/* Paragraph styles */

.trainings .text_wrapper .heading_text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(var(--black-color));
    padding-bottom: 10px;
}

.trainings .text_wrapper .heading_text .hidden {
    visibility: hidden;
}

/* .trainings .text_wrapper .main_text {
    text-align: center;
    vertical-align: center;

} */

.trainings .text_wrapper .main_text.sub {
    margin-top: 20px;
}

@media screen and (max-width: 1060px) {
    .trainings .background {
        width: 100%;
        height: 680px;
    }

    .trainings .procedures_swiper .grid_wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 100%;
        gap: 30px;
        margin: 20px 0;
    }

    .trainings .swiper .background_square {
        position: relative;
        width: 70%;
        height: 300px;
        /* background-color: rgba(var(--main-color2), 0.95); */
        justify-self: center;
    }
    
}

@media screen and (max-width: 768px) {
    .trainings .swiper .text_wrapper {
        font-size: 16px;

    }

}

@media screen and (max-width: 492px) {
    .trainings .swiper .background_square {
    width: 100%;
}

}

@media screen and (max-width: 380px) {
    .trainings .swiper .text_wrapper {
        font-size: 14px;

    }

}
