.content-section {
    max-width: 1920px;
    padding: 50px;
    background-color: rgb(var(--main-color));
}

.content-section .heading {
    text-align: center;
    font-size: 24px;
    position: relative;
    margin-bottom: 30px;
}

.content-section .heading::after {
    content: '';
    display: block;
    width: 10%;
    margin: -5px auto;
    height: 2px;
    background-color: rgb(var(--black-color));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-section .text {
    font-size: 20px;
    margin-top: 20px;
}

.content-section .text::first-letter {
    margin-left: 20px;
}

.content-section .text .quoted {
    font-style: italic;
}



.swiper {
    width: 98%;
    height: 300px;
    margin-top: 50px;
}

.swiper .swiper-slide {
    background: rgb(var(--main-color));
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px !important; /* Because of the loaders */
}


@media screen and (max-width: 1000px) {
    .content-section .heading {
        font-size: 20px;
    }

    .content-section .text {
        font-size: 18px;
    }
}

@media screen and (max-width: 660px) {
    .swiper .swiper-slide {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content-section .heading {
        font-size: 18px;
    }

    .content-section .text {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .content-section {
        padding: 50px 20px;
    }

    .content-section .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .content-section .heading {
        font-size: 16px;
    }
}
